body{
    width: 50vw;
    height:50vh;
}


.name{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 7px 3px hsl(80,70%,50%);
    font-size: 79px;
    margin: 2%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}
.name{
    animation: name .5s infinite;

}
@keyframes name{
    0%{
        text-shadow: 0px 0px 50px hsl(80,70%,50%);
    }
    50%{
        text-shadow: 0px 0px 100px hsl(80,100%,50%);
    }
    100%{
        text-shadow: 0px 0px 50px hsl(80,70%,50%);
    }
}


/*     Pic     */

img{
    display: block;
    position: absolute;
    margin: auto;
    height: 500px;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pic1{
    height: 300px;
    width: 300px;

}

.pic2{
    height: 100px;
    width: 100px;
    transform: rotate(50deg);
    left: 45%;
    bottom: 45%
}
.pic2{
    animation: pictwo 2s infinite;
}

.pic3{

    height: 100px;
    width: 100px;
    transform: rotate(75deg);
    left: 50%;
    top: 45%;
    bottom: 45%;
}
.pic3{
    animation: picthree 2s infinite;
}
@keyframes picthree{
    0%{
        bottom: 40%;
    }
    50%{
        bottom: 45%
    }
    100%{
        bottom: 40%
    }
}

.pic4{
    height: 100px;
    width: 100px;
    transform: rotate(120deg);
    left: 35%;
    top: 50%;
}
.pic4{
    animation: picfour 2s infinite;
}
@keyframes picfour{
    0%{
        top: 50%;
    }
    50%{
        top: 55%
    }
    100%{
        top: 50%
    }
}
.pic5{
    height: 100px;
    width: 100px;
    transform: rotate(-50deg);
    right: 45%;
    bottom: 45%;
}
.pic5{
    animation: picfive 2s infinite;
}
@keyframes picfive{
    0%{
        bottom: 45%;
    }
    50%{
        bottom: 50%
    }
    100%{
        bottom: 45%
    }
}

.pic6{
    height: 100px;
    width: 100px;
    transform: rotate(-50deg);
    right: 55%;
    bottom: 2%;
}
.pic6{
    animation: picsix 2s infinite;
}
@keyframes picsix{
    0%{
        bottom: 6%;
    }
    50%{
        bottom: 2%
    }
    100%{
        bottom: 6%
    }
}

.pic7{
    height: 100px;
    width: 100px;
    transform: rotate(-50deg);
    right: 35%;
    top: 50%;
}
.pic7{
    animation: picseven 1.7s infinite;
}
@keyframes picseven{
    0%{
        top: 50%;
    }
    50%{
        top: 55%
    }
    100%{
        top: 50%
    }
}

/*     Pic     */

/*     BG     */

.bg1{

    height: 500px;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 4000px #8A62A2;

}

.bg1{
    animation: warp 5s infinite;
}

@keyframes warp{
    0%{
        box-shadow: 0px 0px 12000px #9933CC;
    }
    25%{
        box-shadow: 0px 0px 7000px #660099;
    }
    50%{
        box-shadow: 0px 0px 3000px #8A62A2;
    }
    75%{
        box-shadow: 0px 0px 7000px #660099;
    }
    100%{
        box-shadow: 0px 0px 10000px #9933CC;
    }
}
@keyframes pictwo{
    0%{
        bottom: 45%;
    }
    50%{
        bottom: 40%;
    }
    100%{
        bottom: 45%
    }
}
/*@-moz-keyframes pictwo
{from {bottom:45% ;}
to {bottom: 40%}}

@-webkit-keyframes pictwo
{from {bottom:45% ;}
to {bottom: 40%}}

@-o-keyframes pictwo
{from {bottom:45% ;}
to {bottom: 40%}}

/*     BG     */

/*   ส่วนของปุ่มกด*/
.playimg{
    width: 350px;
    height: 350px;
}
.playimg{
    animation: playimg 2s infinite;
}
@keyframes playimg{
    0%{
        right: 0px;
    }
    50%{
        right: 4px;
    }
    100%{
        right: 0px;
    }
}

.play{
    display: block;
    position:absolute;
    right: 62%;
    top: 85%;
    bottom: 50%;
}
.play{
    animation: play 3s infinite;
}
@keyframes play{
    0%{
        right: 62%;
    }
    50%{
        right: 60%;
    }
    100%{
        right: 62%;
    }
}


.playimg:hover{

    transition: 0.2s;
    width: 360px;
    height: 360px;

}


.textplay{

    display: block;
    position:absolute;
    top: 85%;
    right: 45%;
    color: red;
    font-size: 50px;

}

/*   ส่วนของปุ่มกด*/
