body{
	background-color: black;
	margin: 0;
  cursor: url("http://ani.cursors-4u.net/cursors/images13/cur1158.gif") 0 0, default;
}

.BG{
	margin: 10px 36%;
	width: 400px;
	height: 600px;
	padding: 10px;
	border: 10px outset #f3a4f5;
	position: fixed;
	background-image: url("Bggame.gif");
}

#ROCKET{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10;
	left: 10;
	overflow: hidden;
	background-image: url("playerShip2_orange.png");
	background-size: 100% 100%, auto;
}

#LASER{
    background-image: url("laserRed06.png");
    box-shadow: 0px 0px 50px red;
    background-size: 100% 100%, auto;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

.enemy1 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/2.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy2 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/11.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy3 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/22.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy4 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/37.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy5 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/22.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy6 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/9.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy7 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/24.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy8 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/33.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy9 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/29.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy10 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
   background-image: url("mons1/15.png");
   background-size: 100% 100%, auto;
   box-shadow: 0px 0px 350px blue;
}
.enemy {
   width: 35px;
   height: 35px;
   position: absolute;
   top: -40;
   left: -500;
   background-size: 100% 100%, auto;
   background-image: url("mons1/1.png");
   box-shadow: 0px 0px 350px blue;
}


#END {
	text-align: center;
	background-image: url("end.gif");
	background-size: 100% 100%, auto;
	position: absolute;
	width: 420px;
	height: 620px;
	top: 0;
	left: 0;
	color: black;
	visibility: hidden;
	z-index: 3;
}
.boom{
  width: 35px;
  height: 35px;
  position: absolute;
  top: -40;
  left: -500;
  background-size: 100% 100%, auto;
  box-shadow: 0px 0px 350px blue;
  background-image: url("https://i.pinimg.com/originals/21/ca/38/21ca3809fa917c5568ffa3e8f336dda2.gif");
}
#textover{	
	display: block;
	margin: auto;
}



