body{
	background-color: black;
	margin: 0;
}

.BG{
	margin: 10px 36%;
	width: 400px;
	height: 600px;
	padding: 10px;
	border: 10px outset #f3a4f5;
	position: fixed;
	background: black;
}

#ROCKET{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10;
	left: 10;
	overflow: hidden;
	background-image: url("playerShip2_orange.png");
	background-size: 100% 100%, auto;
}

#LASER{
    background-image: url("laserRed06.png");
    background-size: 100% 100%, auto;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

.enemy {
  background: yellow;
  width: 35px;
  height: 35px;
  position: absolute;
  border: 5px dotted red;
  top: -40;
  left: -500;
}

.CEND {

}

#END {
	text-align: center;
	background: red;
	position: absolute;
	width: 420px;
	height: 620px;
	top: 0;
	left: 0;
	color: black;
	visibility: hidden;
	z-index: 3;
}

#textover{
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	width: 300px;
	border: 5px solid yellow;
	top: 240px;
	left: 50px;
}

#BG{
}
#retry{
<<<<<<< HEAD
	width: 5px;
	left: 50;
=======
	margin: 50%; 
>>>>>>> parent of 020dbd5... add
}

