body{
	background-color: hsl(230 100% 30%);
	margin: 0;
}

.BG{
	margin-top: 50px;
	margin-left: 32%;
	width: 500px;
	height: 600px;
	background-color: white;
	border: 5px solid;
	border-color: blue;
}

#ROCKET{
	width: 40px;
	height: 40px;
	background-color: red;
	border: 5px solid;
	border-color: black;
	position: absolute;
}

#ENERMY{
	display: block;
	width: 40px;
	height: 40px;
	background-color: yellow;
	border: 5px solid; 
	border-color: red;
	position: absolute;
}

